# vi:ft=perl:
create repository freebsd-base.git
end repository

# ignore this stuff
match /ROADMAP.txt
end match
match /projects/GUIDELINES.txt
end match
match /user/GUIDELINES.txt
end match
# Skip empty test-commit, that I'm unable to svnsync, maybe it's corrupted?
match /head/.*
min revision 179587
max revision 179587
end match
# Skip bogus revision and the backout rev
match /projects/.*
min revision 244485
max revision 244485
end match
match /projects/.*
min revision 244487
max revision 244487
end match
match /svnadmin/.*
end match
# Skip empty vendor dir creation and branch
match /vendor/.*
min revision 355814
max revision 355814
end match
match /vendor/.*
min revision 355815
max revision 355815
end match
match /vendor/.*
min revision 355939
max revision 355939
end match

match /head/
  repository freebsd-base.git
  branch master
end match

match /(cvs2svn)/([^/]+)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3
end match

match /(stable|releng|release)/([0-9.]+)/
  repository freebsd-base.git
  branch \1/\2
end match

match /(releng)/ALPHA_2_0/
  repository freebsd-base.git
  branch \1/2.0a
end match

match /(releng)/BETA_2_0/
  repository freebsd-base.git
  branch \1/2.0b
end match

# special nesting for these
match /(projects)/(graid|ofed)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3
end match

match /(projects)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2
end match

# /user/piso was created wrong
match /(user)/(piso)/
  repository freebsd-base.git
  branch \1/\2/ipfw_old
  min revision 186541
  max revision 190858
end match
match /(user)/(piso)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3
  min revision 190859
end match
# ignore stuff, no branch for these
match /user/gad/README.txt
end match
match /user/des/Makefile.inc
end match
match /user/rpaulo/asiabsdcon.rb
end match
match /user/simon/test.txt
end match
match /user/peter/foo.txt
end match
match /vendor/.arcconfig
end match
# Not a branch, ignore
match /user/(nwhitehorn|peterj)/.*
end match
# Cannot put .git directories into git, makes it unhappy
match /user/uqs/git_conv
end match
match /vendor/(atf|ldns-host|v4l)/README.*
end match
match /vendor/(apr|apr-util|atf|bzip2|flex|ntp|serf|subversion|tcpdump)/F(REE|ree)BSD-(Xlist|upgrade)
end match
match /vendor/libregex/libgnuregex_prep.sh
end match
match /vendor/bearssl/import.sh
end match

# fixup trailing dot
match /vendor/(clang|llvm)/(clang|llvm)-(r73070)\./
  repository freebsd-base.git
  branch vendor/\1/\2-\3
end match

# wrong tag, ignore r210074 and r210075
match /vendor/(clang|llvm)-(r108243)/
end match

# r262569 committed one level short, skip it and use r262573 instead
match /vendor/device-tree/
  min revision 262569
  max revision 262569
end match

# unknown vendor is one level short
match /(vendor)/(unknown)/
  repository freebsd-base.git
  branch \1/\2
end match

# XXX drop the different vendor-* prefixes?
match /(user|vendor|vendor-sys|vendor-cddl|vendor-crypto)/([^/]+)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3
end match

# ignore the rest, XXX temp only
#match .*
#end match
