# vi:ft=perl:
create repository freebsd-doc.git
end repository

match /head/
  repository freebsd-doc.git
  branch master
end match

# retain access history
match /svnadmin/conf/(?!access|mentors)
end match
match /svnadmin/conf/
  repository freebsd-doc.git
  branch internal/admin
end match
match /svnadmin/
end match

# ignore this stuff
match /doc-branch-policy.txt
end match

match /branches/RELENG_([0-9])_([0-9])_([0-9])/
  repository freebsd-doc.git
  branch releng/\1.\2.\3
  max revision 38820
end match
match /branches/RELENG_([0-9])_([0-9])/
  repository freebsd-doc.git
  branch releng/\1.\2
  max revision 38820
end match
# Ignore deletion
match /branches/
  min revision 38821
  max revision 38821
end match

# tags, not releases
match /release/([A-Z][^/]+)/
  repository freebsd-doc.git
  branch refs/tags/\1
  annotated true
end match

# deleted and re-created later
match /release/10.0.0/
  min revision 43086
  max revision 43249
end match

# Caveat: 9.1.0 was not a tag, but a branch with 1 further commit. Ditto for
# 8.4.0 with 3 commits and seemingly all following releases where the tag was
# advanced :/
match /(release)/([^/]+)/
  repository freebsd-doc.git
  branch refs/tags/\1/\2
  annotated true
end match

match /(www)/
  repository freebsd-doc.git
  branch \1
end match

match /(projects)/([^/]+)/
  repository freebsd-doc.git
  branch \1/\2
end match

# Note that this won't get recorded as a full copy from head, so basically the
# git branch springs into existence w/o a parent commit.
# TODO: patch this up? should we? would need a hack in the converter.
match /(translations)/
  repository freebsd-doc.git
  branch \1
end match

match /(user)/([^/]+)/([^/]+)/
  repository freebsd-doc.git
  branch \1/\2/\3
end match
