# vi:ft=perl:
create repository freebsd-base.git
end repository

# ignore this stuff
match /ROADMAP.txt
end match
match /projects/GUIDELINES.txt
end match
match /projects/suj/rev.txt
end match
match /user/GUIDELINES.txt
end match
# Skip empty test-commit, that I'm unable to svnsync, maybe it's corrupted?
match /head/
min revision 179587
max revision 179587
end match
# Wrong import and back-out
match /head/
min revision 254686
max revision 254687
end match
# Skip bogus revision and the backout rev
match /projects/
min revision 244485
max revision 244485
end match
match /projects/
min revision 244487
max revision 244487
end match
match /svnadmin/
end match
# Skip branch creation and deletion at wrong level
match /user/bz/
min revision 262833
max revision 262834
end match
match /projects/arm_intrng/
min revision 269785
max revision 269786
end match
match /projects/cambria/
min revision 186004
max revision 186007
end match
match /projects/doctools/
min revision 306856
max revision 306858
end match

# Skip cvs2svn manufactured commits in favor of the fixups.
match /head/contrib/
# /head/contrib/patch was fully deleted in r128778
min revision 128778
max revision 128778
end match

match /head/
  repository freebsd-base.git
  branch master
end match

match /(cvs2svn)/([^/]+)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3
end match

match /(stable|releng)/([0-9.]+)/
  repository freebsd-base.git
  branch \1/\2
end match

match /(release)/([0-9.]+)/
  repository freebsd-base.git
  branch refs/tags/\1/\2
end match

match /(releng)/ALPHA_2_0/
  repository freebsd-base.git
  branch \1/2.0a
end match

match /(releng)/BETA_2_0/
  repository freebsd-base.git
  branch \1/2.0b
end match

# special nesting for these
match /(projects)/(graid|multi-fibv6|ofed|pf|suj|zfsd)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3
end match

match /(projects)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2
end match

# /user/piso was created wrong
match /(user)/(piso)/
  repository freebsd-base.git
  branch \1/\2/ipfw_old
  min revision 186541
  max revision 190858
end match
match /(user)/(piso)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3
  min revision 190859
end match
# /head copied into existing branch, later deleted in rev 196663 anyway.
match /(user)/(kmacy)/
  min revision 196075
  max revision 196075
end match
# ignore stuff, no branch for these
match /user/gad/README.txt
end match
match /user/des/Makefile.inc
end match
match /user/rpaulo/asiabsdcon.rb
end match
match /user/simon/test.txt
end match
match /user/peter/foo.txt
end match
# Cannot put .git directories into git, makes it unhappy
match /user/uqs/git_conv/.*\.git/.*
end match

# patch up imports at wrong level
match /(user)/(nwhitehorn)/
  min revision 253490
  max revision 253490
  repository freebsd-base.git
  branch \1/\2/condorports
end match
match /(user)/(peterj)/
  repository freebsd-base.git
  branch \1/\2
end match

# These have extra levels
match /(user)/(dfr)/([^/]+)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3/\4
end match
match /(user)/(gjb)/(hacking)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3/\4
end match

# strip extra head
match /(user)/(eri)/(pf45)/(head)/
  repository freebsd-base.git
  branch \1/\2/\3
end match

match /(user)/([^/]+)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3
end match

# These now live outside of a branch and need to be ignored
match /vendor/.arcconfig
end match
match /vendor/(atf|ldns-host|v4l)/README.*
end match
match /vendor/(apr|apr-util|atf|bzip2|flex|ntp|serf|subversion|tcpdump)/F(REE|ree)BSD-(Xlist|upgrade)
end match
match /vendor/libregex/libgnuregex_prep.sh
end match
match /vendor/bearssl/import.sh
end match
match /vendor/NetBSD/bmake/do-update.sh
end match
match /vendor/NetBSD/bmake/import.sh
end match
match /vendor/NetBSD/((libc-)?(un)?vis|libexecinfo)/FreeBSD-Upgrade
end match
match /vendor/Juniper/libxo/(.svnignore|import.sh)
end match

# fixup trailing dot, skip the rename revs, this still creates a backup copy of the "reset" branch, though.
match /vendor/(clang|llvm)/(clang|llvm)-(r73070)\./
  repository freebsd-base.git
  branch vendor/\1/\2-\3
  max revision 193727
end match
match /vendor/(clang|llvm)/
  min revision 193736
  max revision 193737
end match
# wrong tag, ignore r210074 and r210075
match /vendor/(clang|llvm)-(r108243)/
end match
# tags were without 'r' at first, then got renamed in revs 208978 to 208981.
match /vendor/(clang|llvm)/
  min revision 208978
  max revision 208981
end match
match /(vendor)/(clang|llvm)/(clang|llvm)-([0-9]+)/
  repository freebsd-base.git
  branch \1/\2/\3-r\4
end match

# Imported was r288847 and the commit message says so, the tags then went into
# existing subdirs. Did I ever tell you how SVN's notions of tags and branches
# are just tree copies is the bane of my existence?
# tagged into the wrong existing tag
match /(vendor)/(llvm|clang|compiler-rt|libc..|lld|lldb)/([^/]+-release_39)-r288513/dist/
  min revision 309809
  max revision 309815
  repository freebsd-base.git
  branch \1/\2/\3-r288847
end match

# I assume r291012 was a typo for r291015 and it got moved into the wrong place
# (a directory that already exists, so that it ended up with a trailing dist/
# directory). Same as happened quite a number of times.
# See r311315 and the following. The first tag of r291012 was fine, the second
# tag of r291015 went to the wrong dirs.
match /(vendor)/(llvm|clang|compiler-rt|libc..|lld|lldb)/([^/]+-trunk)-r291012/dist/
  repository freebsd-base.git
  branch \1/\2/\3-r291015
  min revision 311328
end match

# wrong tag and backout revs
match /vendor/bind9/
  min revision 180464
  max revision 180464
end match
match /vendor/bind9/
  min revision 180467
  max revision 180467
end match
# Fix wrong tag, and ignore the fix-up move
match /(vendor)/(tzdata)/(tzdata2000g)/(dist)/
  min revision 191616
  max revision 191616
  repository freebsd-base.git
  branch \1/\2/\3
end match
match /vendor/tzdata/
  min revision 191617
  max revision 191617
end match
# was already tagged in 193784
match /vendor/tzdata/
  min revision 194479
  max revision 194479
end match
# dropped a prefix
match /(vendor)/(tzdata)/(2009.)/
  repository freebsd-base.git
  branch \1/\2/tzdata\3
  max revision 194481
end match
match /vendor/tzdata/
  min revision 194483
  max revision 194484
end match
# Another botched import
match /(vendor)/(tzdata)/(tzdata2009m)/(dist)/
  min revision 197595
  max revision 197595
  repository freebsd-base.git
  branch \1/\2/tzdata2009n
end match
match /(vendor)/(tzdata)/(tzdata2009m)/(dist)/
  min revision 197596
  max revision 197596
end match
# committed w/o dist at first
match /(vendor)/(testfloat)/
  max revision 206919
  repository freebsd-base.git
  branch \1/\2/dist
end match
match /(vendor)/(testfloat)/
  min revision 206920
  max revision 206921
end match
# libpcap snafu
match /vendor/libpcap/
  min revision 230833
  max revision 230834
end match
# fixup copied dist/
match /(vendor)/(dtc)/(dtc-f807af19)/dist/
  min revision 238738
  max revision 238738
  branch \1/\2/\3
end match
# was never used
match /vendor/NetBSD/atf/
  min revision 236635
  max revision 236635
end match
# byacc got imported/tagged twice
match /vendor/byacc/byacc-20120115/
  min revision 234949
  max revision 234949
end match
# yours truly messes up mdocml tags
match /vendor/mdocml/
  min revision 261332
  max revision 261333
end match
# r262569 committed one level short
match /(vendor)/(device-tree)/
  min revision 262569
  max revision 262569
  repository freebsd-base.git
  branch \1/\2/dist
end match
# and r270867 tagged one level too deep
match /(vendor)/(device-tree)/(ianc-b78b6b80)/dist/
  min revision 270867
  max revision 270867
  repository freebsd-base.git
  branch \1/\2/\3
end match
# wrongly done import, later deleted
match /vendor/zstd/
  min revision 322780
  max revision 322780
end match
# byacc lua confusion
match /(vendor)/(byacc|lua)/
  min revision 326345
  max revision 326351
end match
# Skip empty vendor dir creation and branches
match /vendor/llvm-project
min revision 355814
max revision 355814
end match
match /vendor/llvm-project/
min revision 355815
max revision 355815
end match
match /vendor/llvm-project/
min revision 355939
max revision 355939
end match
# TODO: record the following copies as merges: 355944, 355945, 355947


# `unknown` vendor is one level short
match /(vendor)/(unknown)/
  repository freebsd-base.git
  branch \1/\2
end match
# something was missing ...
match /(vendor)/(1.14)/
  repository freebsd-base.git
  branch \1/bsnmp/\2
end match

# r282579 renamed a whole bunch of vendor branches and results in backup tags.
# r282582 and r282585 moved some more.
# r253716 is also relevant here, resurrecting the deleted gnu-patch. Map the old
# branches to the new ones already, with the twist of removing the redundant
# "gnu" from gnu-sort.
# We need to skip the actual moves, as they moved roots in SVN that don't exist
# in git and the exporter gets confused by that.
# Note that while we could use a recurse rule to skip the deleting and do the
# proper thing for the additions, somehow this does not result in the actual
# SVN revision commit message to be created as a commit on the various
# branches. This is bad in that the history of when the move was done is lost.
# So we can also just skip the move revisions entirely. :/
### match /(vendor)/(awk|bc|bison|cpio|gnu-sort|patch|tar)/
### min revision 282579
### max revision 282579
### end match
### match /(vendor)/misc-GNU/(awk|bc|bison|cpio|gnu-sort|patch|tar)/$
### min revision 282579
### max revision 282579
### action recurse
### end match
match /vendor/.*
min revision 282579
max revision 282579
end match
match /vendor/.*
min revision 282582
max revision 282582
end match
match /vendor/.*
min revision 282584
max revision 282584
end match
match /vendor/.*
min revision 282585
max revision 282585
end match
match /(vendor)/(awk|bc|bison|cpio|cvs|patch|tar|texinfo)/([^/]+)/
  repository freebsd-base.git
  branch \1/misc-GNU/\2/\3
end match
match /(vendor)/gnu-(sort)/([^/]+)/
  repository freebsd-base.git
  branch \1/misc-GNU/\2/\3
end match
match /(vendor)/(misc-GNU)/(awk|bc|bison|cpio|cvs|patch|tar|texinfo)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3/\4
end match
match /(vendor)/(misc-GNU)/gnu-(sort)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3/\4
end match
match /(vendor)/(lukemftpd?|sort)/([^/]+)/
  repository freebsd-base.git
  branch \1/NetBSD/\2/\3
end match
# 4-levels for some of them
match /(vendor)/(NetBSD)/(blacklist|bmake|libc-pwcache|libc-vis|libedit|libexecinfo|lukemftpd?|mknod|mtree|softfloat|sort|tests|unvis|vis|xlint)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3/\4
end match

match /(vendor)/(Juniper|google)/([^/]+)/([^/]+)/
  repository freebsd-base.git
  branch \1/\2/\3/\4
end match

match /(vendor|vendor-sys|vendor-cddl|vendor-crypto)/([^/]+)/([^/]+)/
  repository freebsd-base.git
  # unify the different vendor-* prefixes
  # Note that this merges e.g. vendor/illumos and vendor-sys/illumos, which
  # share the same file common/avl/avl.c but one has a newer version than the
  # other. This should be fine.
  branch vendor/\2/\3
end match
